# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# Python
__pycache__/
*.py[cod]

# Logs
logs/
*.log

# Alembic
backend/alembic/
backend/alembic.ini
backend/BackupService/Database_2026-02-26_13-07-06.sql
backend/BackupService/Database_2026-02-26_17-02-24.sql

# Node
node_modules/
package-lock.json
frontend/package-lock.json

# Next.js / Tailwind / Vite / ESLint
frontend/.next/
frontend/postcss.config.mjs
frontend/tailwind.config.js
frontend/eslint.config.mjs
frontend/turbo.json
backend/BackupService/Database_2026-02-20_13-09-33.sql
backend/BackupService/Database_2026-02-21_14-37-12.sql


# Personal
*.env
*.local
# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env
.idea
venv

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
